.footer-area{
    background-image: url('https://i.ibb.co/Jq7HqGD/slider-2-bg.webp');
}
.footer-text{
    padding-top: 40px !important;
    padding-bottom: 25px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    
}
.subcribe{
    border: 2px solid rgb(241, 169, 13);
    background-color: transparent;
}
.subcribe:hover{
    background-color: rgb(241, 169, 13);
    color: black;
    transition: all .3s;
}